{% extends "core/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">

        <h2 class="mb-4 text-center">Iniciar sesión</h2>

        <form method="post" class="card p-4 shadow-sm">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Entrar
            </button>
        </form>

    </div>
</div>
{% endblock %}
